.chatMessages{
    color: black;
    background-color: rgba(143, 71, 71, 0.562);
    font-size: 18px;
    font-family: "Times New Roman", monospace;
    width:300px;
    height:250px;
    border: 3px solid black;
    overflow:scroll;
    margin:10px;
    margin-bottom:0;
    padding-bottom:0;
    padding-left:15px;
    padding-right:15px;
    }
    
.chatMessages p{
    padding:0;
    margin:0;
    line-height: 1.15;
    }
    
.leftMessage{
    text-align:left;
    }
  
.rightMessage{
    text-align:right;
    }